language: php

sudo: false

php:
  - 5.5
  - 5.6
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_install:
  - composer self-update

install:
  - composer update --no-interaction --prefer-source --ignore-platform-reqs

script:
  - bin/phing ci-build

after_success:
  - composer require symfony/yaml 2.6 satooshi/php-coveralls dev-master#2fbf803 --no-interaction --prefer-source --no-progress --ignore-platform-reqs
    && bin/coveralls --verbose --config build/coveralls.yml
    || true
